<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87420980204-7r5ogm6s701pkpeajqrfm1hqjs5in5qe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87420980204-7r5ogm6s701pkpeajqrfm1hqjs5in5qe</string>
	<key>API_KEY</key>
	<string>AIzaSyDXH_EuG5qXIPG--Wx-RuYfVU9ArIAlwJw</string>
	<key>GCM_SENDER_ID</key>
	<string>87420980204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.twentyone24.WisdomCards</string>
	<key>PROJECT_ID</key>
	<string>wisdom-cards</string>
	<key>STORAGE_BUCKET</key>
	<string>wisdom-cards.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87420980204:ios:14ac3a73c47224df484ec9</string>
</dict>
</plist>